<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/head %>
</head>
<body class="container">
<header>
    <% include common/header %>
</header>

<main>
    <div>
        <table width="100%" border="1">
            <tr>
                <th>Status</th>
                <th>URL</th>
                <th>MD5</th>
                <th>DateTime</th>
            </tr>
            <% urls.forEach(function(url){ %>
            <tr>
                <th width="100px"><%= url.status%></th>
                <th><a href="<%= url.url %>"><%= url.url %></a></th>
                <th width="250px"><%= url.md5 %></th>
                <th width="200px"><%= url.updated.toISOString() %></th>
            </tr>
            <% }); %>
        </table>
    </div>
</main>

<footer><% include common/footer %></footer>
</body>
</html>